!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		//Css
		link( rel="stylesheet", media="screen", href="styles/main.css")


		//RSS TODO

	body.home
		#Wall.wall

		#Templates
			template#Post
				a(href="{{post_url}}", title="{{title}}", target="_blank" ).post.Post
					.img( style="background-image:url({{low_res_image_url}})")
					.img( style="background-image:url({{image_url}})")
					.overlay
					.title {{title}}

		#Scripts
			//Libs
			script( src="scripts/lib/jquery.min.js" )
			script( src="scripts/lib/jquery-ui.min.js" )

			script( src="scripts/lib/masonry.pkgd.min.js" )
			script( src="scripts/lib/handlebars.js" )

			script( src="scripts/service.js", type"text/javascript")

			script( src="scripts/behance.js", type"text/javascript")
			script( src="scripts/tumblr.js", type"text/javascript")
			script( src="scripts/tumblr_feed.js", type"text/javascript")
			script( src="scripts/dribbble.js", type"text/javascript")
			script( src="scripts/app.js", type"text/javascript")

			//App Scripts
			script( type"text/javascript" )
				var inspire = {};
				var api = {};
				$(document).ready(function(){
					inspire = new Inspire()
					inspire.init()
				})
